<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <title>หน้าหลักพนักงาน</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="p-4 bg-dark text-white">
  <h3 class="mb-4">หน้าหลักพนักงาน</h3>

<div class="container">
  <div class="row g-4">
    <div class="col-12 col-md-6">
      <a href="/cashier_list" class="text-decoration-none">
        <div class="card text-white bg-dark border-0" style="background-image: url('/button/S_1.png'); background-size: cover; background-position: center; min-height: 220px;">
          <div class="card-body d-flex flex-column justify-content-center" style="background-color: rgba(0,0,0,0.5);">
            <h4 class="card-title justify-content-center align-items-center text-center">รายชื่อโต๊ะที่รอชำระเงิน</h4>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-6">
      <a href="/kitchen" class="text-decoration-none">
        <div class="card text-white bg-dark border-0" style="background-image: url('/button/S_2.png'); background-size: cover; background-position: center; min-height: 220px;">
          <div class="card-body d-flex flex-column justify-content-center" style="background-color: rgba(0,0,0,0.5);">
            <h4 class="card-title justify-content-center align-items-center text-center">ดูสถานะอาหาร</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


  <a href="/" class="btn btn-outline-light mt-5">< กลับหน้าเมนู</a>

  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
